<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<!-- HTTP HEADERS -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
		
		<!-- TITLE -->
		<title>Site Title: Section Title: Page Title</title>
		
		<!--FAVICON-->
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />	
			
		<!-- CSS STYLESHEETS -->
		<link href="styles/Nasa2008/main.css" type="text/css" rel="stylesheet" title="NASA 2008" media="screen" />
		<link href="styles/Nasa2008/main_print.css" type="text/css" rel="stylesheet" title="NASA 2008" media="print" />
		<!--[if gte IE 5.5]>
		<![if lt IE 7]>
		<link href="styles/Nasa2008/main_ie.css" rel="stylesheet" title="NASA 2008" type="text/css" media="screen,print" />
		<![endif]>
		<![endif]-->
	</head>
	<body>
		<div class="hidden"><a href="#page_content">Skip Navigation</a></div>
		<div id="doc_body">
		
			<!-- SITE HEADER -->
			<div class="header" id="site_header">
				<div class="nasaLogo" id="nasa_logo" title="NASA Langley Research Center">
					<a href="http://www.nasa.gov/"><span class="imageText" id="nasa_logo_text"><acronym title="National Aeronautics and Space Administration">NASA</acronym> Langley Research Center</span></a>
				</div>
				<h1 class="title" id="site_title"><a href="index.html">Site Title</a></h1>
			</div>
		
			<!-- PAGE CONTENT -->
			<div class="content" id="page_content">
				<p>This sample template includes the minimum document structural areas: a Site Header (with Site Title, but no Site Menu) and the Page Content area.</p>
				
				<hr />
			
				<h1>Heading 1</h1>
				<h2>Heading 2</h2>
				<h3>Heading 3</h3>
				<h4>Heading 4</h4>
				<h5>Heading 5</h5>
				<h6>Heading 6</h6>
				
				<p>This is a normal paragraph.</p>
				
				<p class="acceptanceWarning">
				(This is what the "acceptanceWarning" class looks like.)<br />
				<strong>************       WARNING!       ************</strong><br />
				This US Government computer is for authorized users only.<br />
				By accessing this system you are consenting to complete monitoring with no expectation of privacy. Unauthorized access or use may subject you to disciplinary action and criminal prosecution.
				</p>
				
				<p class="center">This is what a paragraph with a class of "center" looks like.</p>
				
				<p class="error">This is what a paragraph with a class of "error" looks like.</p>

				<p class="warning">This is what a paragraph with a class of "warning" looks like.</p>
				
				<p class="message">This is what a paragraph with a class of "message" looks like.</p>
				
				<p class="hidden">This is what a paragraph with a class of "hidden" looks like.</p>
				
				<p class="monospace">This is what a paragraph with a class of "monospace" looks like.</p>
				
				<p class="noprint">This is what a paragraph with a class of "noprint" looks like.</p>
				
				<p>This is a <a href="test.html">Normal Link</a> and this is an <a href="test.html" class="external">External Link</a></p>
				
				<ul>
					<li>Unordered List Item 1</li>
					<li>Unordered List Item 2
						<ul>
							<li>Unordered List Item 2.1</li>
							<li>Unordered List Item 2.2</li>
							<li>Unordered List Item 2.3
								<ul>
									<li>Unordered List Item 2.3.1</li>
								</ul>
							</li>
							<li>Unordered List Item 2.4</li>
						</ul>
					</li>
					<li>Unordered List Item 3</li>
					<li>Unordered List Item 4</li>
					<li>Unordered List Item 5</li>
				</ul>
				
				<ol>
					<li>Ordered List Item 1</li>
					<li>Ordered List Item 2
						<ol>
							<li>Ordered List Item 2.1</li>
							<li>Ordered List Item 2.2</li>
							<li>Ordered List Item 2.3
								<ol>
									<li>Ordered List Item 2.3.1</li>
								</ol>
							</li>
							<li>Ordered List Item 2.4</li>
						</ol>
					</li>
					<li>Ordered List Item 3</li>
					<li>Ordered List Item 4</li>
					<li>Ordered List Item 5</li>
				</ol>
				
				<dl>
					<dt>Term 1</dt>
					 <dd>Definition 1</dd>
					<dt>Term 2</dt>
					 <dd>Definition 2</dd>
					<dt>Term 3</dt>
					 <dd>Definition 3
					 	<dl>
					 		<dt>Term 3.1</dt>
					 		 <dd>Definition 3.1</dd>
					 	</dl>
					 </dd>
					<dt>Term 4</dt>
					 <dd>Definition 4</dd>
					<dt>Term 5</dt>
					 <dd>Definition 5</dd>
					<dt>Term 6</dt>
					 <dd>Definition 6</dd>
				</dl>
				
				<table>
					<caption>Normal Table</caption>
					<thead>
						<tr>
							<th>Column 1</th>
							<th>Column 2</th>
							<th>Column 3</th>
							<th>Column 4</th>
							<th>Column 5</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Column 1</th>
							<th>Column 2</th>
							<th>Column 3</th>
							<th>Column 4</th>
							<th>Column 5</th>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td>Value 1.1</td>
							<td>Value 2.1</td>
							<td>Value 3.1</td>
							<td>Value 4.1</td>
							<td>Value 5.1</td>
						</tr>
						<tr>
							<td>Value 1.2</td>
							<td>Value 2.2</td>
							<td>Value 3.2</td>
							<td>Value 4.2</td>
							<td>Value 5.2</td>
						</tr>
						<tr>
							<td>Value 1.3</td>
							<td>Value 2.3</td>
							<td>Value 3.3</td>
							<td>Value 4.3</td>
							<td>Value 5.3</td>
						</tr>
						<tr>
							<td>Value 1.4</td>
							<td>Value 2.4</td>
							<td>Value 3.4</td>
							<td>Value 4.4</td>
							<td>Value 5.4</td>
						</tr>
						<tr>
							<td>Value 1.5</td>
							<td>Value 2.5</td>
							<td>Value 3.5</td>
							<td>Value 4.5</td>
							<td>Value 5.5</td>
						</tr>
					</tbody>
				</table>
				
				<form action="#" method="post">
					<p><label>Text Input: <input type="text" name="ti" /></label></p>
					<p><label>Password Input: <input type="password" name="pi" /></label></p>
					<p><label><input type="checkbox" name="cbi" /> Checkbox Input</label></p>
					<p><label><input type="radio" name="ri" /> Radio Input</label></p>
					<fieldset>
						<legend>Form Buttons</legend>
						<p><input type="submit" name="sb" value="Submit" /></p>
						<p><input type="reset" name="rb" value="Reset" /></p>
						<p><input type="button" name="ib" value="Button" /></p>
					</fieldset>
					<p><label>File: <input type="file" name="fi" value="Submit" /></label></p>
					<p><button name="bb">Button Element</button></p>
					<p><label>Select: <select name="s">
						<option>1</option>
						<option>2</option>
						<optgroup label="Option Group">
							<option>2.1</option>
							<option>2.2</option>
						</optgroup>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select></label></p>
					<p><label>Textarea<br /><textarea name="ta" cols="10" rows="5">Sample Text</textarea></label></p>
				</form>
				
				<hr />
				
			</div>
		
			<!-- SITE FOOTER -->
			<!--googleoff: all-->
			<div class="footer" id="site_footer">
				<div class="footerItem" id="nro">
					<span class="footerItemLabel" id="nro_label">NASA Responsible Official:</span> <a class="footerItemValue" id="nro_value" href="mailto:p.k.costulis@nasa.gov">Kay Costulis</a>
				</div>
				<div class="footerItem" id="curator">
					<span class="footerItemLabel" id="curator_label">Page Curator:</span> <a class="footerItemValue" id="curator_value" href="mailto:cory.r.gilbert@nasa.gov">Cory R Gilbert</a>
				</div>
				<div class="footerItem" id="date_modified">
					<span class="footerItemLabel" id="date_modified_label">Page Last Modified:</span> <span class="footerItemValue" id="date_modified_value">February 22, 2009</span>
				</div>
				<div class="footerItem" id="privacy">
					<a href="http://www.nasa.gov/centers/langley/home/privacy.html" class="footerItemValue" id="privacy_value">Privacy Policy</a>
				</div>
			</div>
			<!--googleon: all-->
			
		</div>
	</body>
</html>
